---
import { getCollection } from "astro:content";
import Card from "../util/Card.astro";

const data = await getCollection("blog");
const posts = data.slice(0, 2);
---

<section>
  <div class="container">
    <h2>Blog</h2>
    <div class="grid">
      {
        posts.map(({ data, slug }, N) => (
          <Card
            title={data.title}
            date={data.pubDate}
            link={`/blog/${slug}/`}
            img={data.heroImage}
          >
            {data.description}
          </Card>
        ))
      }
    </div>
  </div>
</section>
<section class="container">
  <a href="/blog/" role="button" class="outline">MORE...</a>
</section>
