---
import { getCollection } from "astro:content";
import ArticleBlock from "../util/ArticleBlock.astro";

const data = await getCollection("blog");
const posts = data.slice(0, 2);
---

<section>
  <div class="container">
    <h2>Blog</h2>
    <div class="grid">
      {
        posts.map((post) => (
          <ArticleBlock
            title={post.data.title}
            date={post.data.pubDate}
            link={`/blog/${post.slug}`}
            img={post.data.heroImage}
          >
            {post.data.description}
          </ArticleBlock>
        ))
      }
    </div>
  </div>
</section>
<div class="container">
  <a href="/blog/" role="button" class="outline">more.</a>
</div>
