---
import { getCollection } from "astro:content";

const data = await getCollection("blog");
const posts = data.slice(0,2)
import img from "../../img/400x250.png";
---

<section>
  <div class="container">
    <h2>Blog</h2>
    <div class="grid">
      {
        posts.map((post) => (
          <article class="blog">
            <img src={img} alt="" />
            <div class="blog-desc">
              <hgroup>
                <h4>
                  <a href={`/blog/${post.slug}/`}>
                    <b>{post.data.title}</b>
                  </a>
                </h4>
                <p>{post.data.pubDate}</p>
              </hgroup>
              <p>{post.data.description}</p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
  
</section>
<div class="container">
  <a href="/blog/" role="button" class="outline">more.</a>

</div>
<style>
  .grid {
    gap: 3rem;
  }
  .blog {
    padding: 0;
    border-radius: 0 0 1rem 1rem;
  }

  .blog-desc {
    padding: 1rem 2rem;
  }
</style>
