---
import { getCollection } from "astro:content";
import { Image, Picture } from '@astrojs/image/components';
import img from "../../img/400x350.png"
const data = await getCollection("services");

---

<section id="services">
  <div class="container">
    <h2>Services</h2>
    <div class="grid">

      {
        data.map((item)=>(
          <article>
            <Image
            src={img}
            alt={item.data.title}
            format="webp"
            width={400}
            height={350}
            quality={52}
            loading="lazy"
            />
            <hgroup>
              <h3>{item.data.title}</h3>
              <p>{item.data.description}</p>
              </hgroup>

              <a href={`/services/${item.slug}`}>more..</a>
            </article>
        ))
      }

    </div>
  </div>
</section>
