---
import { CollectionEntry, getCollection } from "astro:content";
import { Image } from "@astrojs/image/components";
import Main from "../../layouts/Main.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Main title={post.data.title} desc={post.data.description} hero={false}>
  <Image
    src={post.data.heroImage}
    alt={post.data.title}
    height={200}
    aspectRatio={16 / 9}
    format="webp"
    quality={72}
    loading="lazy"
  />
  <div class="container">
    <h1>{post.data.title}</h1>
    <Content />
  </div>
  <!-- </BlogPost> -->
</Main>
