---
import Main from "../../layouts/Main.astro";
import { getCollection } from "astro:content";
import ArticleBlock from "../../components/util/ArticleBlock.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Main title="Blog" hero={false}>
  <div class="container">
    <section>
      <div class="grid">
        {
          posts.map(({data, slug}) => (
            <ArticleBlock
            title={data.title}
            link={`/blog/${slug}`}
            img={data.heroImage}
            date={data.pubDate}
            >
            {data.description}
            </ArticleBlock>
          ))
        }
      </div>
    </section>
  </div>
</Main>

