---
import Main from "../../layouts/Main.astro";
import Card from "../../components/util/Card.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("services");
---

<Main title="Services" hero={false}>
  <main>
    <div class="container">
      <hgroup>
        <h1>Services</h1>
        <hr />
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </hgroup>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo,
        eveniet eaque harum numquam dolorum obcaecati rerum excepturi veritatis
        placeat ab deserunt dignissimos laborum incidunt explicabo magni
        consectetur laudantium quos.
      </p>
      <div class="grid">
        {
          posts.map(({ data, slug }) => (
            <Card
              title={data.title}
              sub={data.description}
              ico={data.image}
              link={`/services/${slug}/`}
            />
          ))
        }
      </div>
    </div>
  </main>
</Main>
