---
import { Image } from "@astrojs/image/components";

import logo from "../img/White logo - no background.svg";

const MainMenu = [
  { text: "Home", link: "/home/" },
  { text: "Services", link: "/services/" },
  { text: "About", link: "/about/" },
  { text: "Contact", link: "/contact/" },
  { text: "Blog", link: "/blog/" },
];

export interface Props {
  fluid?: boolean;
}

const { fluid = false } = Astro.props;
---

<div class="navigation bg">
  <nav class={!fluid ? "container" : "container-fluid"}>
    <ul>
      <li>
        <a href="/home/" class="contrast">
          <Image
            src={logo}
            height={100}
            format="svg"
            alt="logo"
            aspectRatio={155 / 50}
            class="logo"
          />
        </a>
      </li>
    </ul>
    <ul id="pc">
      {
        MainMenu.map(({ text, link }, N) => (
          <li>
            <a class="secondary" aria-current={Astro.url.pathname == link && "page"} href={link}>
              {text}
            </a>
          </li>
        ))
      }
    </ul>
    <ul id="mob">
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link" class="contrast">☰</summary>
        <ul role="listbox">
          {
            MainMenu.map(({ text, link }, N) => (
              <li>
                <a href={link} aria-current={Astro.url.pathname == link && "page"}>
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </details>
    </ul>
  </nav>
</div>
<!-- Critical CSS je uvjek is:inline -->
<style is:inline>
  .logo {
    --w: 4rem;
    height: var(--w);
    width: var(--w * 5);
    transform: translateY(-0.15em);
  }

  #pc {
    display: none;
  }
  #mob {
    margin-top: 15px;
  }
  [aria-current="page"] {
    font-weight: 500;
    border-bottom: 1px solid var(--primary);
    color: var(--contrast);
  }

  nav li a:hover {
    background-color: var(--dropdown-hover-background-color);
    box-shadow: 0 1px 1px var(--primary);
    border-radius: 0;
    color: var(--contrast);
  }

  .navigation {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 0px 8px #161718;
  }

  @media (min-width: 992.98px) {
    #pc {
      display: flex;
    }
    #mob {
      display: none;
    }
  }
</style>
